body{ 
    background-color: seashell;
    color: aquamarine;
    margin: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400; Como a física projeta a tudo o que vocẽ vẽ
    display: flex;
    flex-direction: column;
}

h1, h2{
    text-aling: center;
}
